<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goodsbull.pmall" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.LoginByPwdAct"
            android:label="@string/title_activity_login_by_pwd"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".activity.RegisterAct"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".activity.MainAct"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.LoginBySMSAct"
            android:label="@string/title_activity_login_by_sms"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ForgetPasswordAct"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.TradeDetailAct"
            android:label="@string/title_activity_trade_detail"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.HamalAct"
            android:label="@string/title_activity_hamal"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
